$bg-c1-light: #fff;
$bg-c1-primary:#b61984 ;

//text-size
$text-title: 11.25px;
$text-xs: 13px;
$text-s: 13.5px;


$text-text: 15px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 23.25px;
$text-3xl: 37.5px;
$text-4xl: 40px;
$text-5xl: 57px;
$text-6xl: 60px;
$text-7xl: 70px;

//text-font-weight
$text-light: 300;
$text-regular: 500;
$text-semibold: 600;
$text-bold: 700;

//text-color: màu của text
$text-c1-dark: #181818;
$text-c1-light: #fff;
$text-c1-title: #b61984;